<h3>Edit List</h3>
<%= form_for @list, url: user_ideaboard_list_path, method: :patch do |f| %>
  <div class="form-field:">
  <%= f.label :list_name, "Name: " %><br />
  <%= f.text_field :list_name %>
</div>
<div class="form-field">
  <%= f.label :list_desc, "Description: " %><br />
  <%= f.text_field :list_desc %>
</div>
  <br />
<%= f.submit %>
<% end %>