<%= render 'ideaboards/jumbotron_ideaboards' %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @ideaboard.ideaboard_name, user_ideaboard_path(current_user, @ideaboard) %></li>
    <li class="breadcrumb-item active" aria-current="page">New List</li>
  </ol>
</nav>

<%= form_with model: @list, url: user_ideaboard_lists_path, method: :post do |f| %>
  <div class="form-field:">
  <%= f.label :list_name, "Name: " %><br />
  <%= f.text_field :list_name %>
</div>
<div class="form-field">
  <%= f.label :list_desc, "Description: " %><br />
  <%= f.text_field :list_desc %>
</div>
  <br />
<%= f.submit %>
<% end %>