<div class="jumbotron jumbotron-fluid bg-info text-light">
  <div class="container">
    <h1 class="display-4"><%= @list.list_name %></h1>
    <p class="lead"><%= @list.list_desc %></p>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @ideaboard.ideaboard_name, user_ideaboard_path(current_user, @ideaboard) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @list.list_name %></li>
  </ol>
</nav>

<div class="btn-group" role="group" aria-label="">
  <button type="button" class="btn btn-light"><%= link_to far_icon('edit', text: "Edit List"), edit_user_ideaboard_list_path(current_user, @ideaboard, @list) %></button>
  <button type="button" class="btn btn-light"><%= link_to far_icon('trash-alt', text: "Delete List"), user_ideaboard_list_path(current_user, @ideaboard, @list), method: :delete %></button>
  <button type="button" class="btn btn-light"><%= link_to far_icon('plus-square', text: "Create Task"), new_user_ideaboard_list_task_path(current_user, @ideaboard, @list) %></button>
</div>
<hr />

<% if @list.tasks.count == 0 %>
  You have no tasks/items for this list.
<% else %>
  <% @list.tasks.each do |task| %>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="mr-auto p-2"><%= task.task_desc %></span>
          <%= link_to far_icon('edit'), edit_user_ideaboard_list_task_path(current_user, @ideaboard, @list, task) %>
          &nbsp;
          <%= link_to far_icon('trash-alt'), user_ideaboard_list_task_path(current_user, @ideaboard, @list, task), method: :delete %>
          &nbsp;&nbsp;
          <% if task.task_priority == "high" %>
            <span class="badge badge-danger p-2 text-body"><%= task.task_priority %></span>
          <% elsif task.task_priority == "medium" %>
            <span class="badge badge-warning p-2 text-body"><%= task.task_priority %></span>
          <% elsif task.task_priority == "low" %>
            <span class="badge badge-success p-2 text-body"><%= task.task_priority %></span>
          <% else %>
            <span class="badge badge-primary p-2 text-body"><%= task.task_priority %></span>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

<% end %>

