<h4><%= link_to "Dashboard", root_path %> > <%= link_to @ideaboard.ideaboard_name, user_ideaboard_path(current_user, @ideaboard) %> > <%= @list.list_name %></h4>
<h5>List Description: <%= @list.list_desc %></h5>
<hr />
<%= link_to far_icon('edit', text: "Edit List"), edit_user_ideaboard_list_path(current_user, @ideaboard, @list) %>
<%= link_to far_icon('trash-alt', text: "Delete List"), user_ideaboard_list_path(current_user, @ideaboard, @list), method: :delete %>
<%= link_to far_icon('plus-square', text: "Create Task"), new_user_ideaboard_list_path(current_user, @ideaboard) %>
<br />
<hr />


<% if @list.tasks.count == 0 %>
  You have no tasks/items for this list.
<% else %>
  <% @list.tasks.each do |task| %>
  <ul>
    <li>
    <%= task.task_desc %>
    <%= link_to far_icon('edit'), edit_user_ideaboard_list_task_path(current_user, @ideaboard, @list, task) %>
    <%= link_to far_icon('trash-alt'), user_ideaboard_list_task_path(current_user, @ideaboard, @list, task), method: :delete %>
    </li>
  </ul>
  <% end %>
<% end %>

