<%= render 'lists/jumbotron_lists' %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @ideaboard.ideaboard_name, user_ideaboard_path(current_user, @ideaboard) %></li>
    <li class="breadcrumb-item"><%= link_to @list.list_name, user_ideaboard_list_path(current_user, @ideaboard, @list) %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Task</li>
  </ol>
</nav>

<%= render 'errors' %>

<%= form_for @task, url: user_ideaboard_list_task_path, method: :patch do |f| %>
  <div class="form-field">
    <%= f.label :task_desc, "Description: " %>
    <%= f.text_field :task_desc %>
  </div>
  <br />
  <%= f.label :tag_id, "Tag: " %>
  <%= select_tag :new_tag_id, options_from_collection_for_select(Tag.all.sort_by(&:tag_name), "id", "tag_name", @task.tag_id) %><br />
  <i>* Tag cannot be blank.</i><br />
  <br />
  <%= f.label :list_id, "List: " %>
  <%= select_tag :new_list_id, options_from_collection_for_select(@ideaboard.lists, "id", "list_name", @task.list_id) %>
  <br /><br />
  <div class="form-field:">
    <%= f.label :task_priority, "Task Priority: " %><br />
    <%= f.radio_button :task_priority, 'n/a', checked: true %>n/a&nbsp;
    <%= f.radio_button :task_priority, 'low' %>Low&nbsp;
    <%= f.radio_button :task_priority, 'medium' %>Medium&nbsp;
    <%= f.radio_button :task_priority, 'high' %>High&nbsp;
  </div>
  <br />
  <%= f.submit %>
<% end %>