<%= render 'lists/jumbotron_lists' %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @ideaboard.ideaboard_name, user_ideaboard_path(current_user, @ideaboard) %></li>
    <li class="breadcrumb-item"><%= link_to @list.list_name, user_ideaboard_list_path(current_user, @ideaboard, @list) %></li>
    <li class="breadcrumb-item active" aria-current="page">New Task</li>
  </ol>
</nav>

<%= render 'errors' %>

<%= form_for @task, url: user_ideaboard_list_tasks_path, method: :post do |f| %>
  <div class="form-field">
    <%= f.label :task_desc, "Description: " %>
    <%= f.text_field :task_desc %>
  </div>
  <br />
  <%= f.label :tag_id, "Tag: " %>
  <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, "id", "tag_name"), include_blank: true %><br />
  <br />
  <div class="form-field:">
    <%= f.label :task_priority, "Task Priority: " %><br />
    <%= f.radio_button :task_priority, 'n/a', checked: true %>n/a&nbsp;
    <%= f.radio_button :task_priority, 'low' %>Low&nbsp;
    <%= f.radio_button :task_priority, 'medium' %>Medium&nbsp;
    <%= f.radio_button :task_priority, 'high' %>High&nbsp;
  </div>
  <br />
  <%= f.submit %>
<% end %>