<%= render 'jumbotron_ideaboards' %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @ideaboard.ideaboard_name %></li>
  </ol>
</nav>

<div class="btn-group" role="group" aria-label="">
  <button type="button" class="btn btn-light"><%= link_to far_icon('edit', text: "Edit Board"), edit_user_ideaboard_path(current_user, @ideaboard) %></button>
  <button type="button" class="btn btn-light"><%= link_to far_icon('trash-alt', text: "Delete Board"), user_ideaboard_path(current_user, @ideaboard), data: { confirm: "Are you sure? This will also delete ALL associated lists and tasks." }, method: :delete %></button>
  <button type="button" class="btn btn-light"><%= link_to far_icon('plus-square', text: "Create List"), new_user_ideaboard_list_path(current_user, @ideaboard) %></button>
</div>
<hr />

<% if @ideaboard.lists.count == 0 %>
  You have no lists for this ideaboard.
<% else %>
  <% @ideaboard.lists.each do |list| %>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to list.list_name, user_ideaboard_list_path(current_user, @ideaboard, list) %>
          <span class="badge badge-info p-2 text-body"><%= list.tasks.count %></span>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>