<%= form_for @parent do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :team_name, "Team Name" %><br />
    <%= f.text_field :team_name %>
  </div>

  <%= f.submit %>

<% end %>